* {
    font-family: "Anonymous Pro";
    transition: all 0.1s ease-in-out;
}

body {
    background-color: #f5f5f5;
}

div, header, footer, main, ul {
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 54px;
    gap: 24px;
}


/* Typography */

h1 {
    font-size: 100px;
    font-weight: bolder;
}

h2 {
    font-size: 75px;
    font-weight: bolder;
}

h3 {
    font-size: 42px;
    font-weight: bolder;
}

h4 {
    font-size: 24px;
    font-weight: bolder;
}

.block_title {
    padding-bottom: 32px;
}

a {
    color: black;
    font-size: 16px;
    transition: opacity 0.1s ease-in-out;
}

a:hover {
    font-weight: bolder;
}

p {
    font-size: 24px;
}

li {
    font-size: 24px;
}


/* Button */

button {
    background-color: black;
    border-radius: 18px;
    padding: 18px 26px;
    color: white;
    font-size: 24px;
    transition: all 0.15s ease-in-out;
}

button:hover {
    background-color: rgb(34, 34, 34);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

/* input */

input {
    display: flex;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 18px;
    padding: 18px 26px;
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 24px;
    transition: all 0.1s ease-in-out;
}

input:hover {
    border: 1px solid black;
    box-shadow: 0px 2px 12px rgb(0, 0, 0, 0.15);
}

label {
    font-size: 18px;
}


/* Header */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 54px;
    flex-direction: row;
    padding: 0px 32px;
    gap: 32px;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgb(0, 0, 0, 0.15);
}

.header-left, .header-right {
    width: 100%;
}

.header-center ul {
    white-space: nowrap;
    flex-direction: row;
    gap: 32px;
}

/* Blocks */

.first_block {
    width: 100%;
    height: 90vh;
    background-image: url(../imgs/background.png);
    background-position: center;
    background-size: cover;
}

.first_block-content {
    width: 100%;
    height: 100%;
    gap: 32px;
    text-align: start;
    justify-content: center;
    padding: 0px 360px 0px 120px;
    background-color: rgb(255, 255, 255, 0.65);
    backdrop-filter: blur(7px);
}

.first_block-content p {
    font-size: 48px;
}

.about_me_block {
    width: 100%;
    padding: 64px;
    flex-direction: row;
    gap: 16px;
}

.about_me_block-content {
    width: 100%;
    gap: 21px;
}

.about_me_block-content ul {
    gap: 16px;
}

.about_me_block-content li {
    margin-left: 20px;
    list-style: disc !important;
}

.about_me_block aside img{
    height: 100%;
    width: 547px !important;
}

.my_works_block {
    background-color: white;
    width: 100%;
    padding: 64px;
    flex-direction: row;
    gap: 16px;
}

.my_works_block-gallery {
    width: 100%;
    margin-top: 32px;
    gap: 10px;
}

.my_works_block-gallery-row {
    width: 100%;
    gap: 10px;
    flex-direction: row;
}

.my_works_block-gallery-item {
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    transition: all 0.1s ease-in-out;
    justify-content: end;
    color: white;
}

.my_works_block-gallery-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 12px 42px rgb(0, 0, 0, 0.5);
}

.my_works_block-gallery-item-content {
    width: 100%;
    padding: 32px;
    padding-top: 64px;
    background-image: url(../imgs/gradient-shadow.png);
    background-size: 100% 100%;
}

.website_creation_block {
    width: 100%;
    flex-direction: row;
    padding: 64px;
}

.website_creation_block-content {
    width: 100%;
    gap: 24px;
}

.website_creation_block ul {
    gap: 24px;
}

.website_creation_block li {
    margin-left: 20px;
    list-style: disc !important;
}

.feedback_block {
    background-color: white;
    width: 100%;
    padding: 64px;
    padding-right: 128px;
    flex-direction: row;
    gap: 16px;
}

.feedback_block-content {
    width: 80%;
}

.feedback_block-form {
    width: 60%;
}

.feedback_block input, .feedback_block button {
    width: 100%;
}

footer {
    background-color: #f5f5f5;
    padding: 64px 64px 128px 64px;
    gap: 32px;
}

.footer-content {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
}
